@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  background: black;
}

/* Hamburger and Modal Styles */
.hamburger {
  cursor: pointer;
}

.modal-toggle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.modal-toggle:checked ~ .modal {
  opacity: 1;
  pointer-events: auto;
}

.modal-box {
  background: white;
  padding: 1em;
  border-radius: 8px;
  max-width: 90%;
  text-align: center;
  position: relative;
  z-index: 1;
}

.modal-toggle:checked ~ .modal .modal-box {
  transform: scale(1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #eee;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.3s;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:before,
.modal-close:after {
  content: "";
  position: absolute;
  top: 14px;
  left: 7px;
  height: 2px;
  width: 16px;
  background: #333;
}

.modal-close:before {
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}

/* Modal contents style */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content a {
  margin: 5px 0;
  text-decoration: none;
  color: black;
}

.modal-content a:hover {
  color: green;
}
